# Python
__pycache__/
*.py[cod]
*.pyc
*.pyo
*.pyd
*.log

# Virtual environments
venv/
.env/
ENV/
env/
*.env

# SQLite
db.sqlite3

# Node
node_modules/
npm-debug.log
yarn-debug.log
yarn-error.log

# Frontend build files
frontend/dist/
frontend/build/

# IDE / editor files
.vscode/
.idea/
.DS_Store

# OS files
Thumbs.db

# Ignore nohup logs or temp output
nohup.out
*.out
